<<<<<<< Updated upstream
p {
    color:red;
}
=======
body {
    background-color: #88F0F6;
}
.SignOut{
    position:absolute;
     bottom:0;
     right:0;
}




#zvisla-ciara {
    display: flex;
    width: 320px;
    height: 1754px;
    position: absolute;
    right: 120px;
    align-items: center;
    flex-direction: column;
  }
>>>>>>> Stashed changes
